<header class="site-header">
	<div class="fixed-strip">
		<div class="strip">
			<h1><span class="first">J.David</span><br>
				 M<span class="kern">a</span>clean</h1>
		<svg class="toggle" width="60px" height="80px" viewBox="0 0 60 80" xmlns="http://www.w3.org/2000/svg"><title>toggle</title><path class="polygon" d="M60 0H0v80h25.257c1.82 0 3.577-.686 4.92-1.922l27.448-25.24C59.138 51.444 60 49.477 60 47.414V0z" fill="#F75C03" fill-rule="evenodd"/></svg>
		</div>
	</div>
</header>
<div class="site-header-bg">
</div>