$strip-height: 120px;

.site-header-bg {
	z-index: -1;
	height: $strip-height;
	@extend %base-width;
	background-color: $color-bg;
	content: "";
	@extend %media-widths;
}

.site-header {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	height: $strip-height;
	background-color: transparent;
}

.fixed-strip {
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: $strip-height;
	@extend %base-width;
	@extend %media-widths;
}

.strip {
	position: absolute;
	left: -1px;
	top: 1.5rem;
	z-index: 1000;
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width:66%;
	height:60px;
	border: 1px solid fade_out($nickle,0.27);
	
	background-color: fade_out($nickle,0.69);
	box-shadow: 0px 0px 2px transparentize($nickle, 0.39),
		inset 0px 0px 4px transparentize($nickle, 0.63);
	
	transition: transform .5s ease-in-out;
	
	&:hover {
		border: 1px solid fade_out(lighten($nickle,10%),0.11);
		background-color: fade_out($nickle,0.69);
		box-shadow: 0px 0px 2px transparentize($nickle, 0.39),
			0px 0px 6px transparentize($nickle, 0.27),
			inset 0px 0px 4px transparentize($nickle, 0.63);
	}
	
	h1 {
		padding: 0;
		margin: 0;
		
		color: transparentize(lighten($nickle,10%),0.53);
		
		font-feature-settings: "kern" 1;
		font-kerning: normal;
		font-family: "EurostileExtTwo", $root-font-family;;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1;
		letter-spacing: -0.075em;
		text-transform: uppercase;
		text-shadow: 0px 0px 3px transparentize($nickle, 0.47);
		
		&:hover {
			color: transparentize(lighten($nickle,10%),0.27);
			text-shadow: 0px 0px 2px transparentize($nickle, 0.47);
		}
		
		.first {
			padding-left: .15em;
			
			font-size: .75rem;
			letter-spacing: 1.3em;
			
		}
		
		.kern {
			letter-spacing: -.12em;
		}
	}

}

.stripClosed {
	transform: translateX(-66%);
}

.strip>ul {
	width: min-intrinsic;
}

#neo-n {
	width: 64px;
	height: 94px;
	top:-18px;
	position: absolute;
	right: -55px;
}

#neo-n-s {
	cursor: pointer;
}
#neo-n-s #poly-off {
	opacity: 1;
}
#neo-n-s #poly-on {
	opacity: 0;
}
#neo-n-s:hover #poly-off {
	@media (hover) {
		opacity: 0;
	}
}
#neo-n-s:hover #poly-on {
	@media (hover) {
		opacity: 1;
	}
}
