$strip-height: 6rem;

.site-header-bg {
	z-index: -1;
	height: $strip-height;
	background-color: $color-bg;
	content: "";

	@extend %base-width;
	@extend %media-widths;

	@include media-query($large) {
		height: $strip-height - 1;
	}
}

.site-header {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	height: $strip-height;
	background-color: transparent;
	pointer-events: none;

	@include media-query($large) {
		height: $strip-height - 1;
	}
}

.fixed-strip {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	overflow: hidden;
	height: $strip-height;
	@extend %base-width;
	@extend %media-widths;
	pointer-events: none;

	@include media-query($large) {
		height: $strip-height - 1;
	}
}

.strip {
	position: absolute;
	z-index: 1000;
	left: -1px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 67%;
	height: 60px;
	background-color: transparentize($nickle, .69);
	border: 1px solid transparentize($nickle, .27);
	box-shadow: 0 0 2px transparentize($nickle, .39),
		inset 0 0 4px transparentize($nickle, .63);
	pointer-events: auto;
	transition: transform .5s ease-in-out;

	&:hover {
		background-color: transparentize($nickle, .69);
		border: 1px solid transparentize(lighten($nickle,10%), .11);
		box-shadow: 0 0 2px transparentize($nickle, .39),
			0 0 6px transparentize($nickle, .27),
			inset 0 0 4px transparentize($nickle, .63);
	}

	@include media-query($medium) {
		height: 80px;
	}

	@include media-query($large) {
		width: 53%;
		height: 80px;
	}

	h1 {
		padding: 0;
		margin: 0;
		font-family: "EurostileExtTwo", $root-font-family;
		font-size: 1.5rem;
		line-height: 1;
		font-weight: 700;
		font-feature-settings: "kern" 1;
		font-kerning: normal;
		text-transform: uppercase;
		text-shadow: 0 0 3px transparentize($nickle, .47);
		letter-spacing: -.075em;
		color: transparentize(lighten($nickle,10%), .53);

		&:hover {
			text-shadow: 0 0 2px transparentize($nickle, .47);
			color: transparentize(lighten($nickle,10%), .27);
		}

		.first {
			padding-left: .15em;
			font-size: .75rem;
			letter-spacing: 1.3em;
		}

		.kern {
			letter-spacing: -.12em;
		}

		@include media-query($large) {
			font-size: 1rem;
			.first {
				font-size: .5rem;
			}
		}
	}

	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}

// // No longer needed, consider removing
//.strip-closed {
//	transform: translateX(-67%);
//
//	@include media-query($large) {
//		transform: translateX(-53%);
//	}
//}

#neo-n {
	position: absolute;
	top: -18px;
	right: -55px;
	width: 64px;
	height: 94px;

	@include media-query($medium) {
		position: absolute;
		top: -14px;
		right: -73px;
		width: 86px;
		height: 106px;
	}
}

#neo-n-s {
	cursor: pointer;
}
#neo-n-s #poly-off {
	opacity: 1;
}
#neo-n-s #poly-on {
	opacity: 0;
}
#neo-n-s:hover #poly-off {
	@media (hover) {
		opacity: 0;
	}
}
#neo-n-s:hover #poly-on {
	@media (hover) {
		opacity: 1;
	}
}
