$strip-height: 120px;

.site-header-bg {
	z-index: -1;
	height: $strip-height;
	@extend %base-width;
	background-color: $color-bg;
	content: "";
	@extend %media-widths;
}

.site-header {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	height: $strip-height;
	background-color: transparent;
}

.fixed-strip {
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	height: $strip-height;
	@extend %base-width;
	@extend %media-widths;
}

.strip {
	display: block;
	background-color: fade_out($nickle,0.6);
	left: 0;
	top: 1rem;
	width:300px;
	height:80px;
	position: absolute;
	transition: transform .5s ease-in-out;
	z-index: 1000;
}

.stripClosed {
	transform: translateX(-300px);
}

.strip>ul {
	width: min-intrinsic;
}

.toggle {
	width: 60px;
	height: 80px;
	top:0px;
	position: absolute;
	right: -60px;
	
}
.polygon {
	cursor: pointer;
}
.polygon:hover {
	fill: darken($wpOrange, 30%);
}