// ! Main
// ---------------

main {
	overflow: auto;
}

// See "controlstrip" for header layout

.site-content, .site-footer {
	@extend %base-width;
	background-color: $color-bg;
	@extend %media-widths;
}


.site-content {
	padding-top: 0.5rem;
}

.site-footer {
	padding-top: .5rem;
	padding-bottom: 1rem;
}

// ! Posts
// ---------------

.posts, .tags, .related {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
.posts {
	li {
		margin-bottom: .5em;
	}
}

.post-header {
	margin-bottom: 1em;
}

.post-meta, .tag-cloud {
	position: relative;
	z-index: 1;
	display: flex;
	time {
		margin-right: .5em;
		font-size: 1em;
	}
	ul {
		display: flex;
		font-size: 1em;
		list-style: none;
		text-transform: uppercase;
	}
	li {
		margin-right: .5em;
	}
	li:last-child {
		margin-right: 0;
	}
}

// ! Tags
// ---------------
.post-meta>time {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 1.5em; 
	padding: 0 0.5em 0 0.75em;
	margin-right: 0.2em;
	border-radius: 2px;
	background: #008dd0;

}

.post-meta>time:after {
	content: "";
	z-index: -1;
	position: absolute;
	left: 0; top: 0; width: 100%; height: 100%;
	border-radius: 2px;
	transform-origin: bottom left;
	transform: skew(-30deg);
	background: #008dd0;
}

.post-meta>ul {
	padding: 0;
	margin: 0;
	display: flex;
}

.post-meta ul li {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 1.5em; 
	padding: 0 0.75em;
	margin-right: 0.2em;
	border-radius: 2px;
	transform-origin: bottom left;
	transform: skew(-30deg);
	background: #008dd0;
	font-size: 1em;
}
.post-meta ul li a {
	transform: skew(30deg);
	color: white;
	text-decoration: none;
}
