// Non Structural Typography

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	color: $x11-grey;
}

h1 {
	font-family: "EurostileExtTwo", $root-font-family;
	font-size: 1.75rem;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	margin-top: 2rem;
	font-family: "EurostileExtTwo", $root-font-family;
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
}

h3 {
	margin-top: 1rem;
	font-family: "Exo 2 Semi Bold Expanded", $root-font-family;
	font-size: 1.25rem;
	line-height: 1.25;
	font-weight: 600;
	text-transform: uppercase;
}

h4, h5, h6 {
	font-family: "Exo 2 Light", $root-font-family;
	font-size: 1rem;
	font-weight: 700;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

strong, em {
	color: lighten($color-txt, 5%);
}

ol, ul, dl {
	padding-left: 1rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: .5rem;
}

abbr {
	font-size: 73%;
	font-weight: bold;
	text-transform: uppercase;
	&[title] {
		text-decoration: none;
		border-bottom: 1px dotted $platinum;
		cursor: help;
	}
}

ruby {
	display: inline-flex;
	flex-direction: column-reverse;
	font-family: "Mplus", $root-font-family;
}

rb, rt {
	display: inline;
	line-height: 1;
}

figure {
	margin-bottom: 1rem;
}

figcaption {
	font-size: .75em;
}

code, pre {
	font-family: "OCRA", $root-mono-family;
}

h2 > code[class*="language-"], h2 > code {
	font-size: 1.25rem;
}



.hyphenate {
	hyphens: auto;
	word-break: break-all;
}

.ellipsis {
	text-overflow: ellipsis;
}
