
// ! Colour
// ----------
$wp-orange: rgba(247, 92, 3, 1);
$taupe: rgba(66, 57, 49, 1);
$nickle: rgba(122, 116, 97, 1);
$x11-grey: rgba(193, 189, 189, 1);
$platinum: rgba(229, 224, 224, 1);
$pacific-blue: rgba(2, 172, 198, 1); //link-background

$color-txt: $platinum !default;
$color-bg: $taupe !default;
$color-link: lighten($wp-orange,24%) !default;
$color-highlight: $pacific-blue !default;


// ! Spacing
// -----------
$spacer: 1rem !default;


// ! Font
// --------
$root-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$root-font-size: 1rem !default;
$root-line-height: 1.5 !default;

$root-mono-family: 'SFMono-Medium', Menlo, Monaco, 'Ubuntu Mono', monospace !default; //'SFMono-Light'


// ! Media Query
// ---------------

/*
	Based on 16pt font-size

	$micro: 17em; // max wearables
	$xsmall: 20em; // 320px min default-no-media-query
	$small: 30em; // 480px min
	$medium: 60em; // 960px min
	$large: 90em; // 1440 px min
	$xlarge: 120em; // 1920px min
	$xxlarge: 160em; // 2560px min
*/


$xsmall: 20em;
$small: 30em;
$medium: 60em;
$large: 90em;
$xlarge: 120em;


@mixin media-query($break) {
	@if $break == $xsmall {
		@media (min-width: #{$xsmall}) {
			@content;
		}
	} @else if $break == $small {
		@media (min-width: #{$small}) {
			@content;
		}
	} @else if $break == $medium {
		@media (min-width: #{$medium}) {
			@content;
		}
	} @else if $break == $large {
		@media (min-width: #{$large}) {
			@content;
		}
	} @else if $break == $xlarge {
		@media (min-width: #{$xlarge}) {
			@content;
		}
	} @else {
		@warn "#{$break} is not a valid break point."
	}
}


// ! Global Mixin & Extend
// -------------------------
%clearfix::after {
	display: table;
	clear: both;
	content: "";
}

%base-width {
	max-width: 20rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin-right: auto;
	margin-left: auto;
}

%media-widths {
	@include media-query($small) {
		max-width: 34rem; // 16 * 1.25 * 34 // 680px
	} // $small: 30em; // 480px min

	@include media-query($medium) {
		max-width: 44rem; // 16 * 1.5 * 44 // 1056px
	} // $medium: 60em; // 960px min

	@include media-query($large) {
		max-width: 37rem; // 16 * 2.5 * 37 // 1480px
	} // $large: 90em; // 1440 px min
}
